:root {
  --dark-green: #034d02;
  --off-white: #f2f2f2;
  --light-gray: #e4e4e4;
  --mint-green: #69bd7d;
  --pale-green: #f0fff4;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--dark-green);
  background-color: var(--off-white);
  font-size: 20px;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-image: url("../images/lukas-blazek-EWDvHNNfUmQ-unsplash.jpg");
  background-size: cover;
  background-position: 80%;
  background-attachment: fixed;
  z-index: 5;
}

header h1 {
  font-weight: bold;
  font-size: 42px;
  margin: 0;
  text-shadow: 1px 2px 0px rgba(255, 255, 255, 0.7);
}

header a {
  text-decoration: none;
  color: var(--dark-green);
}

header span {
  color: var(--mint-green);
  font-weight: bold;
}

header nav {
  margin: 15px 0;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

header nav ul li {
  display: inline;
}

header nav ul li a {
  padding: 10px 50px;
  font-weight: bolder;
  font-size: 1.95vw;
  text-shadow: 3px 2px 3px rgba(255, 255, 255, 0.9);
}

section {
  padding: 100px;
}

.hero {
  background-image: url("../images/lukas-blazek-EWDvHNNfUmQ-unsplash.jpg");
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background-attachment: fixed;
  background-position: 80%;
  padding-bottom: 60px;
}

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  margin: 0 auto;
}

.headshot img {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  margin-right: 50px;
}

.section-head {
  margin-right: 50px;
  padding: 25px;
  background-color: var(--mint-green);
  border-radius: 50%;
  width: 110px;
  height: 110px;
  text-align: center;
  font-size: 16px;
}

.section-content {
  padding-left: 40px;
  border-left: 3px solid var(--mint-green);
  width: 100%;
}

.showcase-grid-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.showcase-grid-container {
  display: -ms-grid;
  display: grid;
  width: 100%;
  font-size: 1.2rem;
  -ms-grid-rows: (1fr)[3] min-content;
      grid-template-rows: repeat(3, 1fr) -webkit-min-content;
      grid-template-rows: repeat(3, 1fr) min-content;
  -ms-grid-columns: (1fr)[3] min-content;
      grid-template-columns: repeat(3, 1fr) -webkit-min-content;
      grid-template-columns: repeat(3, 1fr) min-content;
  grid-gap: 20px;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sc-item-1 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
}

.sc-item-2 {
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 3;
  grid-column: 3;
  background-color: green;
}

.sc-item-3 {
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-grid-column: 3;
  grid-column: 3;
  background-color: yellow;
}

.sc-item-4 {
  -ms-grid-row: 3;
  grid-row: 3;
  -ms-grid-column: 1;
  grid-column: 1;
  background-color: blue;
}

.sc-item-5 {
  -ms-grid-row: 3;
  grid-row: 3;
  -ms-grid-column: 2;
  grid-column: 2;
  background-color: purple;
}

.sc-item-6 {
  -ms-grid-row: 3;
  grid-row: 3;
  -ms-grid-column: 3;
  grid-column: 3;
  background-color: orange;
}

.sc-item-1 img {
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.contact-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: wrap;
      -ms-flex: wrap;
          flex: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact-links a {
  text-align: center;
  color: var(--dark-green);
  font-size: 24px;
  padding: 40px 40px;
}
/*# sourceMappingURL=style.css.map */